header {
    background-color: #000000;
    margin: auto -16px;
    padding:16px 32px;

}

header h1 { 
    color: #ffffff;
    font-family: "Arial";
    font-weight: bold;

}

.heading {
    
    margin-left: 16px;

}

.input {
    margin-left:16px;
    width: 90%;
    height: 20px;
    padding-bottom: 20px;
}

.movie-header {
    margin-left: 16px;
    font-weight: bold;
    font-family: "Arial";
}

.results {
    display: flex;
    flex-direction: row;
    align-items: center;


}

.nominate-button {
    width: 100px;
    height:30px;
    background-color: '#0000';
    margin-left: 40px;
    
}

.mid-body {
    display:flex;
    flex-direction: row;
    align-items:center;
}

.nomination {
    margin-left: 300px;
}

.movie-text {
    font-size: 5;
    font-family: 'Arial';
}
.movie-card {
    padding-top: 20px;
    margin-left: 20px;
}